/* label {
  font-weight: bold;
} */


body {
  background-color: #111113;
  color: white;
  font-family: 'Inter';
  font-weight: 400;
}

/* small {
  font-size: 10px;
} */

.form-check-input {
  transform: scale(1.5); /* Увеличение в 1.5 раза */
}


.tokens-col {
  gap: 3rem !important;
}

.gradient-title {
  background: linear-gradient(to right, #5D67D9, #FB78D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

.form-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-control {
  margin-top: 10px;
  border-radius: 20px;
  background-color: #33333A!important;
  color: white;
  padding: 10px 15px;
  border: none; /* Убираем стандартный border */
  position: relative;
  z-index: 1; /* Чтобы контент был поверх */
}

.form-control::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 22px; /* Должно быть чуть больше, чем у .form-control */
  background: linear-gradient(to right, hsla(235, 62%, 61%, 0.700), hsla(317, 94%, 73%, 0.700));
  z-index: -1;
}

.form-control-wrapper {
  position: relative;
}

.form-control-wrapper::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 22px;
  background: linear-gradient(to right, hsla(235, 62%, 61%, 0.700), hsla(317, 94%, 73%, 0.700));
  z-index: 0;
}

.underline {
  text-decoration: underline;
}

.description {
  width: 100%;
  height: 120px;
}

.form-control:focus {
  border-radius: 20px;
  background-color: #33333a7b;
  color: white;
}

.form-control::placeholder {
  color: hsla(0, 0%, 100%, 0.200);
  opacity: 1;
  font-size: 16px;
}

.form-control:hover {
  border-radius: 20px;
  border-color: #ffffff;
}

.gradient-description {
  background: linear-gradient(to right, #5D67D9, #FB78D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.input-form {
  background-color: #171719;
  border-radius: 15px;
  border: 1px solid #454547;
  /* Черная обводка */
  padding: 10px;
}

.text-stroke {
  border: 2px solid transparent;
  box-shadow: 0 0 5px black;
}



/* .header {
  background-color: #212529;
  width: 100%;
  padding-left: 0px;
  margin-left: 0px;
} */

.btn-primary {
  background-color: deeppink !important;
  border-color: deeppink !important;
}

.upload-container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}


.upload-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: #33333A;
  border: 1px solid transparent;
  border-radius: 20px;
  text-align: center;
  color: white;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  padding: 20px;
  transition: border-color 0.3s ease;
}

.upload-box i {
  font-size: 30px;
  margin-bottom: 10px;
}

.upload-box:hover {
  border-color: #ffffff;
}

.btn-create-coin {
  background: linear-gradient(to right, #5D67D9, #FB78D6);
  color: white;
  border-radius: 10px; /* Установите нужное закругление */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: background 0.3s;
}

.btn-create-coin:hover {
  background: linear-gradient(to right, #5d67d9ce, #fb78d9ce);
}


.upload-container img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 10px;
}


.alert-danger {
  --bs-alert-color: var(--bs-danger-text-emphasis);
  --bs-alert-bg: #171719;
  --bs-alert-border-color: #333339;
  --bs-alert-link-color: var(--bs-danger-text-emphasis);
  color: white;
}

.alert-success {
  --bs-alert-color: #a3cfbb;
  --bs-alert-bg: #212529;
  --bs-alert-border-color: var(--bs-success-border-subtle);
  --bs-alert-link-color: var(--bs-success-text-emphasis);
}

.gradient-border {
  border: double 3px transparent;
  border-radius: 30px;
  background-image: linear-gradient(white, white), 
                    linear-gradient(to right, #5D67D9, #FB78D6);
  background-origin: border-box;
  background-clip: content-box, border-box;
}


.form-switch .form-check-input {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1)'/%3e%3c/svg%3e"); /* Цвет кружочка */
  
  width: 2em;
  height: 1.2em; /* Уменьшаем высоту */
  margin-left: -2.5em;
  
  background-color: #444 !important; /* Фон свитчера */
  background-image: var(--bs-form-switch-bg);
  background-position: left center;
  
  border: 2px solid #666 !important; /* Граница */
  border-radius: 2em;
  
  transition: background-position 0.15s ease-in-out, background-color 0.2s ease-in-out;
}

/* Фон и кружок при включении */
.form-switch .form-check-input:checked {
  background-color: #6a0dad !important; /* Фон при включении */
  border: 2px solid #a349a4 !important;
  background-position: right center;
}

/* Цвет кружочка при включении */
.form-switch .form-check-input:checked::before {
  background-color: yellow !important; /* Цвет ползунка */
}
