/* label {
  font-weight: bold;
} */


body {
  background-color: #111113;
  color: white;
  font-family: 'Inter';
  font-weight: 400;
}

.gradient-title {
  background: linear-gradient(to right, #3344FF, #FC32FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-control {
  margin-top: 12px;
  margin-bottom: 12px;

  border-radius: 20px;
  background-color: #33333A;
  color: white;
  border-color: #111113;
}

.description {
  width: 100%;
  height: 120px;
}

.form-control:focus {
  border-radius: 20px;
  background-color: #33333a7b;
  color: white;
}

.form-control::placeholder {
  color: #757575; /* Розовый цвет */
  opacity: 1; /* Полная непрозрачность */
  font-size: 16px;
}

.form-control:hover {
  border-radius: 20px;
  border-color: #ffffff;
}

.gradient-description {
  background: linear-gradient(to right, #f307ac, #fb00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.input-form {
  background-color: #171719;
  border-radius: 15px;
  border: 1px solid #454547;
  /* Черная обводка */
  padding: 10px;
}

.text-stroke {
  border: 2px solid transparent;
  box-shadow: 0 0 5px black;
}



/* .header {
  background-color: #212529;
  width: 100%;
  padding-left: 0px;
  margin-left: 0px;
} */

.btn-primary {
  background-color: deeppink !important;
  border-color: deeppink !important;
}

.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.upload-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: #33333A;
  border: 2px solid transparent;
  border-radius: 12px;
  text-align: center;
  color: white;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  padding: 20px;
  transition: border-color 0.3s ease;
}

.upload-box i {
  font-size: 30px;
  margin-bottom: 10px;
}

.upload-box:hover {
  border-color: #ffffff;
}

.upload-box::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 14px;
  background: linear-gradient(to right, #3a49f9, #f307ac);
  z-index: -1;
}

.btn-create-coin {
  background: linear-gradient(to right, #3a49f9, #f307ac);
  color: white;
}

.upload-container img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 10px;
}
